<div class="container">
        <section class="about mt-5">
            <h2 id="about">About Us</h2>
            <!-- TODO: Cette section n'a pas encore été réalisée, tu as carte blanche pour nous montrer ta créativité -->
            <p> <span>G</span>ather round people! Come forth, ye that search the thrill, the emotion, the amazement! For ye
                art
                in the right place. What you are about to see is nowhere else to be found.<br> For more than 200 years, Wild
                Circus has been entertaining
                people of all ages. The adventure started in Ireland, land of magic and mysteries, but today we are a wide
                family with members from all over the world. With each of them comes a particular talent and touch of
                fantasy.
                Tamers, clowns, magicians,
                acrobats and more awaits you in Wild Circus!</p>
            <img src="https://i.postimg.cc/hPpZBx3c/rarephoto.jpg" alt="an old picture of the Wild Circus in the 1800's">
            <p class="italic">The Wild Circus in the 1800's</p>
        </section>
    </div>
    
    