<div class="container">

  <h1 class="text-center mt-5">Compte administrateur</h1>

    <label class="add">id</label>
    <input type="text" name="id" [(ngModel)]="newArtist.id" />

    <label class="add">Firstname</label>
    <input type="text" name="firstname" [(ngModel)]="newArtist.firstname" />

    <label class="add">Nickname</label>
    <input type="text" name="nickname" [(ngModel)]="newArtist.nickname"  />

    <label class="add">talent</label>
    <input type="text" name="talent" [(ngModel)]="newArtist.talent"  />

    <button class="mr-3 ml-3" (click)="create()">Create</button>
    <button (click)="update()">Update</button>

    <table class="mb-5 mt-5" *ngIf="artists.length > 0">
      <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Nickname</th>
        <th>Talent</th>
        
      </tr>
      <tr *ngFor="let artist of artists">
        <td>{{ artist.id }}</td>
        <td>{{ artist.firstname }}</td>
        <td>{{ artist.nickname }}</td>
        <td>{{ artist.talent }} </td>
        
        <td>
          <button (click)="deleteArtist(artist.id)">
            Delete
          </button>
        </td>
      </tr>
    </table>
  
    <p *ngIf="artists.length == 0">
      No artist
    </p>
  </div>