.container-fluid {
    background-color: #383C42;
    height: 20vh;
  }
  i {
    transform: scale(1.6);
    color: white;
    margin: 0% 5%;
    padding: 0 25px;
    display: flex;
    justify-content: center;
  }
  .heart {
    color: red;
  }
  .social-icons-deck {
    justify-content: center;
  }