<div class="container-fluid pt-2" id="footer">
  <div class="text-white text-center pt-3" >
    <p>Suivez nous sur nos réseaux favoris...</p>
  </div>
  <div class="row social-icons-deck pt-3">
    <a href="https://www.facebook.com/groups/460119380689741/" target="_blank" title="Facebook"><i
      class="fab fa-facebook social-icons"></i></a>
    <a href="https://twitter.com/" target="_blank"
       title="Twitter"><i class="fab fa-twitter social-icons"></i></a>
    <a href="https://www.instagram.com" target="_blank" title="Instagram"><i
      class="fab fa-instagram social-icons"></i></a>
    <a href="https://www.youtube.com/watch?v=6HV1B2CpAaQ" target="_blank" title="Youtube"><i
      class="fab fa-youtube social-icons"></i></a>
    
  </div>
  <div class="footer-copyright text-center py-3 text-white Copyright">© 2019 Copyright:
    Made with <span class="heart">&#9829;</span> by Wild LYON
  </div>
</div>